@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-[#f85606];
}
.text-primary {
  @apply text-[#f85606];
}

body {
  max-width: 1400px;
  margin: auto;
  background-color: #f5f5f5;
}

.title-text {
  @apply text-3xl font-semibold font-serif;
}
